.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 0 33px;
    background-color: #FFF2EF;
}
.content-Bx {
    position: absolute;
    bottom: 5%;
    right: 400px;
    width: 200px;
    padding: 5px;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    transform: scale(0.7);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: boxAnimate 10s ease-in-out infinite;
    animation-delay: 1s;
    z-index: 20;
}
@keyframes boxAnimate {
    0%{
        transform: scale(0.7);
    }
    10%{
        transform: scale(0);
    }
    30%{
        transform: scale(0.7);
    }
    32%{
        transform: scale(0.78);
    }
    34%{
        transform: scale(0.7);
    }
    36%{
        transform: scale(0.8);
    }
    38%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(0.7);
    }
}
@keyframes boxAnimate1 {
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(0);
    }
    30%{
        transform: scale(1);
    }
    32%{
        transform: scale(1.08);
    }
    34%{
        transform: scale(1);
    }
    36%{
        transform: scale(1.1);
    }
    38%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
.logo-Bx {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #e9e9e98a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.logo-Bx span {
    display: inline-block;
    transform: scale(1.5) translateY(-15px);
    width: 60px;
    height: 60px;
    background: url(../images/pizza.png);
    background-size: cover !important;
}
.content-title {
    font-size: 14px;
    font-weight: bold;
    color: #352D49;
}
.content-desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desc-im {
    width: 60%;
}
.desc-im span:nth-child(1) {
    font-size: 12px;
    color: gray;
}
.shop-icon {
    width: 28%;
    height: 50px;
    border-radius: 5px;
}
.content-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
}
.content-btns a {
    display: inline-block;
    padding: 3px;
    color: grey;
    font-size: 12px;
    background-color: #cab6b78a;
    border-radius: 3px;
}
.price {
    color: #FF868D;
    font-weight: bold;
}
.shop-icon {
    position: relative;
    background: linear-gradient(to right, #FF868D, #FFCA71);
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-icon span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/shopping-cart\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
}
.shop-icon i {
    position: absolute;
    bottom: -4px;
    right: -4px;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background: linear-gradient(to right, #FF868D, #FFCA71);
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-size: 10px;
}
.cnt-Bx1 {
    right: 30% !important;
    transform: scale(0.85) !important;
}
.cnt-Bx2, .cnt-Bx3 {
    right: 16%;
    transform: scale(.7);
}
.cnt-Bx2 .logo-Bx span {
    background: url(../images/hamburger.png);
}
.cnt-Bx3 .logo-Bx span {
    background: url(../images/ramen.png);
}
.cnt-Bx3 {
    right: 2.3%;
}
@media (max-width:991px) {
    .cnt-Bx1, .cnt-Bx2, .cnt-Bx3 {
        position: relative !important;
        top: unset !important;
        left: unset !important;
        right: unset !important;
        bottom: unset !important;
        order: 1 !important;
        width: 100% !important;
        animation: none !important;
        transform: scale(1) !important;
        margin: 20px 0 !important;
        text-align: center !important;
    }
    .content-desc {
        flex-direction: column !important;
    }
    .content-btns {
        justify-content: center !important;
        margin: 5px 0 !important;
    }
    .content-btns a {
        margin: 0 5px  !important;
    }
    .shop-icon {
        margin: 8px 0 !important;
    }
    .time-logo, 
    .heart-logo,
    .person-logo,
    .sweet-logo {
        display: none !important;
    }
}
.heart-logo, .sweet-logo {
    position: absolute;
    top: 13%;
    right: 18%;
    width: 55px;
    height: 40px;
    margin: 20px;
    background: linear-gradient(#ee5c5c, #FF386B);
    transform: rotate(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #FF386B;
    z-index: 20;
    animation: boxAnimate1 10s ease-in-out infinite;
}
.sweet-logo {
    right: 30%;
    top: 33%;
    transform: rotate(-10deg);
    background: unset;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
}
.hide {
    
    opacity: 0;
    transition: 1s !important;
}
.sweet-logo,
.person-logo,
.time-logo,
.heart-logo
.content-Bx {
    transition: 1s;
}
.sweet-logo span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/5367245851553508376-128.png);
    background-size: cover;
}
.heart-logo .heart{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/heart\ \(1\).png);
    background-size: cover;
    z-index: 10;
}
.heart-logo span {
    display: inline-block;
    margin: 0 5px;
    margin-right: 0;
    font-weight: bold;
    z-index: 10;
    color: white !important;
}

.time-logo {
    position: absolute;
    top: 46%;
    right: 30%;
    width: 140px;
    height: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    z-index: 20;
    animation: boxAnimate1 10s ease-in-out infinite;
}

.time-logo .time {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/time.png);
    background-size: cover;
    
}
.time-logo span:nth-child(2){
    font-size: 13px;
    font-weight: bold;
    color: #352D49;
}

.person-logo {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    z-index: 20;
    animation: boxAnimate1 10s ease-in-out infinite;
}
.person-logo .person-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(#ee5c5c, #FF386B);
    box-shadow: 0 0 10px #FF386B;
}
.person-img span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url(../images/kisspng-pizza-food-eating-dietary-supplement-restaurant-pizza-bestellen-kln-nippes-online-lieferservice-5cc190f467b440.6110200615561894284248.png);
    background-size: cover;
    border-radius: 0 0 999px 999px;
}
.person-desc {
    width: 70%;
    height: 100%;

}
.person-desc span:nth-child(1) {
    font-weight: bold;
    font-size: 13px;
    color: #352D49;
}
.person-desc span:nth-child(2){
    display: block;
    font-size: 10px;
    color: #352D49;
}
.person-desc .stars {
    width: 100%;
    height: 20px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.stars span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/star\ \(1\).png);
    background-size: cover;
}



.home .home-content {
    max-width: 750px;
}
.home-content h2 {
    font-size: 5vw;
    color: #352D49;
}
.home-content p {
    font-size: 18px;
    margin: 25px 0;
    color: #352D49;
}
.home-content a {
    position: relative;
    display: inline-block;
    padding: 12px 35px;
    background: linear-gradient(to top, #FF7F92, #FFD270);
    border-radius: 25px;
    color: #FFF2EF;
    font-weight: bold;
    font-size: 16px;
    padding-right: 70px;
}
.animate5{
    width: 100%;
    height: 400px;
}
.home-content a .btn-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFEBDA;
    border-radius: 50%;
}
.color {
    background: linear-gradient(to top, #FF7F92, #FFD270) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.btn-icon i {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center !important;
    line-height: 30px;
    color: #FFEBDA;
    font-size: 22px;
}
.home-content .first-item {
    position: relative;
    width: 160px;
    height: 45px;
    background-color: #FFEBDA;
    border-radius: 25px;
    color: #352D49;
}
.first-item span:nth-child(1){
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    padding-right: 45px;
    font-weight: bold;
}
.first-item span:nth-child(2){
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: url(../images/fast-food.png);
    background-size: cover;
}
.home .home-logo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-item {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(to left, #FF7F92, #FFD270) !important;
    filter: blur(0.5px);
    box-shadow:
    0 0 20px #ffd270,
    0 0 40px #ffd270;
}
.circle-logo {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 120%;
    border-radius: 0 0 999px 999px;
    overflow: hidden;
}

.circle-logo span {
    position: absolute;
    top: 70px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/kisspng-pizza-food-eating-dietary-supplement-restaurant-pizza-bestellen-kln-nippes-online-lieferservice-5cc190f467b440.6110200615561894284248.png);
    background-size: cover;
}
.home-img {
    display:none;
}

@media (max-width:991px) {
    .home {
        flex-direction: column;
        padding: 20px 15px !important;
    }
    .home-content {
        max-width: 100% !important;
        padding-top: 50px !important;
    }
    .animate5 {
        margin: 30px  0!important;
        height: unset !important;
    }
    .home-logo{
        display: none !important;
    }
    .home-img {
        display: inline-block !important;
        width: 100% !important;
    }

    .home-content {
        animation: unset !important;
    }
    .animationBx::before {
        display: none !important;
    }
    .animationBx * {
        animation: unset !important;
    }
    .checkmenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #ff386a8e;
        z-index: 1000;
        display: none;
    }
    .change-dis {
        display: block !important;
    }
    .change-hedaer{
        background-color: transparent !important;
    }

}
@media (max-width:420px) {
    .circle-item, 
    .circle-logo {
        display: none !important;
    }
    .home-logo {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: unset !important;
        margin: 30px  -14%  !important;
        background-color: blue !important;
    }
    .home-content a,
    .cnt-Bx1,
    .cnt-Bx2,
    .cnt-Bx3 {
        border-radius: 5px !important;
    }
}
.animate1 h2,
.animate2 .first-item{
    opacity: 1;
    animation: changeOpacity 2s ease-in-out forwards;
    /* 4 = 2(animation delay befor) + 2(nesf zaman befor) */
}
.animate1 h2 {
    animation: var(--index1);
}
.animate2 .first-item {
    animation: var(--index2);
}
.animate3 p {
    animation: var(--index3);
}
.animate4 a {
    animation: var(--index4);
}
.animate5 .home-logo {
    animation: var(--index5);
}
@keyframes  changeOpacity {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.animationBx {
    position: relative;
}
.animationBx::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #474058;
    animation: animateBx 2s ease-in-out forwards;
    animation-delay: 1s;
    z-index: 10;
    opacity: 0;
    border-top: 1px solid #FFF2EF;
}
.animate1::before {
    animation-delay: var(--animate1);
}
.animate2::before {
    animation: animateBx1 2s ease-in-out forwards !important;
    animation-delay: var(--animate2);
    width: 160px;
    height: 140%;
}
.animate3::before {
    animation-delay: var(--animate3);
}
.animate4::before {
    animation: animateBx2 2s ease-in-out forwards ;
    animation-delay: var(--animate4);
    width: 177.88px;
}
.animate5::before {
    animation: animateBx3 2s ease-in-out forwards;
    animation-delay: var(--animate5);
    width: 100%;
    height: 110%;
}
@keyframes animateBx3 {
    0%{
        opacity: 1;
        width: 0 ;
        left: 0;
    }
    50%{
        opacity: 1;
        width: 100%;
        left: 0;
    }
    100%{
        opacity: 1;
        width: 0;
        left: 100%;
    }
}
@keyframes animateBx {
    0%{
        opacity: 1;
        width: 0;
        left: 0;
    }
    50%{
        opacity: 1;
        width: 100%;
        left: 0;
    }
    100%{
        opacity: 1;
        width: 0;
        left: 100%;
    }
}
@keyframes animateBx1 {
    0%{
        opacity: 1;
        width: 0 ;
        left: 0;
    }
    50%{
        opacity: 1;
        width: 160px;
        left: 0;
    }
    100%{
        opacity: 1;
        width: 0;
        left: 160px;
    }
}
@keyframes animateBx2 {
    0%{
        opacity: 1;
        width: 0 ;
        left: 0;
    }
    50%{
        opacity: 1;
        width: 177.88px;
        left: 0;
    }
    100%{
        opacity: 1;
        width: 0;
        left: 177.88px;
    }
}
